<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="productname" /> :: <crystalmail:label name="compose" /></title>
<crystalmail:include file="/includes/links.html" />
<link rel="stylesheet" type="text/css" href="/googiespell.css" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body onload="cmail_init_compose_form()">

<crystalmail:include file="/includes/taskbar.html" />
<crystalmail:include file="/includes/header.html" />

<form name="form" action="./" method="post">

<div id="messagetoolbar">
<table border="0" cellspacing="0" cellpadding="0"><tr>
    <td id="compose-toolbar">
      <crystalmail:button command="list" type="link" class="button back" classAct="button back" classSel="button backSel" title="backtolist" content=" " />
      <crystalmail:button command="send" type="link" class="buttonPas send" classAct="button send" classSel="button sendSel" title="sendmessage" content=" " />
      <crystalmail:button command="spellcheck" type="link" class="buttonPas spellcheck" classAct="button spellcheck" classSel="button spellcheckSel" title="checkspelling" content=" " />
      <crystalmail:button command="add-attachment" type="link" class="buttonPas attach" classAct="button attach" classSel="button attachSel" title="addattachment" content=" " />
      <crystalmail:button command="insert-sig" type="link" class="buttonPas insertsig" classAct="button insertsig" classSel="button insertsigSel" title="insertsignature" content=" " />
      <crystalmail:button command="savedraft" type="link" class="buttonPas savedraft" classAct="button savedraft" classSel="button savedraftSel" title="savemessage" content=" " />
      <crystalmail:container name="toolbar" id="compose-toolbar" />
    </td>
    <td id="priority-selector">
      <label for="rcmcomposepriority"><crystalmail:label name="priority" />:</label>&nbsp;<crystalmail:object name="prioritySelector" form="form" id="rcmcomposepriority" />
    </td>
    <td id="receipt-selector">
      <crystalmail:object name="receiptCheckBox" form="form" id="rcmcomposereceipt" />&nbsp;<label for="rcmcomposereceipt"><crystalmail:label name="returnreceipt" /></label>
    </td>
</tr></table>
</div>

<div id="compose-container">
    <div id="compose-headers-div" style="width: 100%;">
	<table border="0" cellspacing="0" cellpadding="1" id="compose-headers" summary="">
	<tbody>
	    <tr>
		<td class="title"><label for="_from"><crystalmail:label name="from" /></label></td>
		<td><crystalmail:object name="composeHeaders" part="from" form="form" id="_from" tabindex="1" /></td>
	    </tr><tr>
		<td class="title top"><label for="_to"><crystalmail:label name="to" /></label></td>
		<td><crystalmail:object name="composeHeaders" part="to" form="form" id="_to" cols="70" rows="2" tabindex="2" /></td>
	    </tr><tr id="compose-cc">
		<td class="title top"><a href="#cc" onclick="return cmail_hide_header_form('cc');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
		<label for="_cc"><crystalmail:label name="cc" /></label></td>
		<td><crystalmail:object name="composeHeaders" part="cc" form="form" id="_cc" cols="70" rows="2" tabindex="3" /></td>
	    </tr><tr id="compose-bcc">
		<td class="title top"><a href="#bcc" onclick="return cmail_hide_header_form('bcc');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
		<label for="_bcc"><crystalmail:label name="bcc" /></label></td>
		<td><crystalmail:object name="composeHeaders" part="bcc" form="form" id="_bcc" cols="70" rows="2" tabindex="4" /></td>
	    </tr><tr id="compose-replyto">
		<td class="title top"><a href="#replyto" onclick="return cmail_hide_header_form('replyto');"><img src="/images/icons/minus.gif" alt="" title="<crystalmail:label name='delete' />" /></a>
		<label for="_replyto"><crystalmail:label name="replyto" /></label></td>
		<td><crystalmail:object name="composeHeaders" part="replyto" form="form" id="_replyto" size="70" tabindex="5" /></td>
	    </tr><tr id="compose-links">
		<td></td>
		<td class="formlinks">
		    <a href="#cc" onclick="return cmail_show_header_form('cc')" id="cc-link"><crystalmail:label name="addcc" /></a>
		    <span class="separator">|</span>
		    <a href="#bcc" onclick="return cmail_show_header_form('bcc')" id="bcc-link"><crystalmail:label name="addbcc" /></a>
		    <span class="separator">|</span>
		    <a href="#reply-to" onclick="return cmail_show_header_form('replyto')" id="replyto-link"><crystalmail:label name="addreplyto" /></a>
		</td>
	    </tr><tr>
		<td class="title"><label for="compose-subject"><crystalmail:label name="subject" /></label></td>
		<td><crystalmail:object name="composeSubject" id="compose-subject" form="form" tabindex="6" /></td>
	    </tr><tr>
		<td class="title"><crystalmail:label name="editortype" /></td>
		<td>
		    <div id="editor-select"><crystalmail:object name="editorSelector" editorid="compose-body" /></div>
		    <div id="spellcheck-control"></div>
		</td>
	    </tr>
	</tbody>
	</table>
    </div>
    <div id="compose-div">
	<crystalmail:object name="composeBody" id="compose-body" form="form" cols="70" rows="20" tabindex="7" />
	<table border="0" cellspacing="0" summary="" style="width:100%; margin-top: 5px;"><tbody>
	    <tr>
		<td style="white-space: nowrap">
		    <crystalmail:button type="input" command="send" class="button mainaction" label="sendmessage" tabindex="8" />
		    <crystalmail:button type="input" command="list" class="button" label="cancel" tabindex="9" />
		</td>
		<td style="text-align:right; white-space: nowrap">
		    <label><crystalmail:label name="savesentmessagein" />: <crystalmail:object name="storetarget" maxlength="30" tabindex="10" /></label>
		</td>
	    </tr>
	</tbody></table>
    </div>
</div>

<div id="compose-attachments">
<div id="attachment-title"><crystalmail:label name="attachments" /></div>
<crystalmail:object name="composeAttachmentList" deleteIcon="/images/icons/delete.png" cancelIcon="/images/icons/delete.png" loadingIcon="/images/display/loading_blue.gif" />
<p><crystalmail:button command="add-attachment" imagePas="/images/buttons/add_pas.png" imageSel="/images/buttons/add_sel.png" imageAct="/images/buttons/add_act.png" width="23" height="18" title="addattachment" /></p>
</div>

</form>

<crystalmail:object name="composeAttachmentForm" id="attachment-form" attachmentFieldSize="40" class="popupmenu" />

</body>
</html>
