<?php

/*accounts plugin */

// navigation config (requires plugin settings @website http://mycrystalmail.googlecode.com)
$cmail_config['settingsnav'][] = array('part' => '', 'locale' => 'settings.accounts', 'href' => './?_task=settings&_action=plugin.accounts&_framed=1', 'onclick' => '', 'descr' => 'accounts');

/* database table name */
$cmail_config['db_table_accounts'] = 'accounts';

/* allowed hosts ::: array() = all */
$cmail_config['accounts_hosts'] = array(
  "My Host" => "localhost",
  "Mail4Us" => "pop.roland-liebl.de",
  "Google Mail" => "ssl://imap.gmail.com:993",
  "Freenet" => "mx.freenet.de",
  "Primacom" => "imap.primacom.net"
);

/* always use default smtp server */
$cmail_config['accounts_smtp_default'] = TRUE;

/* imap_open flag (http://php.net/manual/en/function.imap-open.php) */
$cmail_config['imap_open_flag'] = 'novalidate-cert';

?>