<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><crystalmail:object name="pagetitle" /></title>
<crystalmail:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
</head>
<body>

<crystalmail:include file="/includes/taskbar.html" />
<crystalmail:include file="/includes/header.html" />
<crystalmail:include file="/includes/settingstabs.html" />

<div id="identities-list">
<crystalmail:object name="identitiesList" id="identities-table" class="records-table" cellspacing="0" summary="Identities list" editIcon="" />
</div>

<p id="listbuttons">
<crystalmail:button command="add" type="input" label="newidentity" class="button" condition="config:identities_level:0<2" />
</p>

<div id="identity-details">
  <div style="margin:10px auto; text-align:center">
  
  </div>
</div>

</body>
</html>
